// Encoding
@charset "UTF-8";

// Variables
@import "variables";

// Mixins
@import "mixins";

// Animation delays
.multiply(animation-delay; delay; @animation-delay-start; @animation-delay-offset; @animation-delay-max-value);

// Fade in
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// Fade out
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

// Namespace animacion
.animated {
	animation-duration: @animation-duration;
	animation-fill-mode: both;

	// Fade in
	&.fade-in {
		animation-name: fadeIn;
	}

	// Fade out
	&.fade-out {
		animation-name: fadeOut;
	}

}