@charset "UTF-8";

// Variables
@import "variables";

/**
 * CSS Reset - http://meyerweb.com/eric/tools/css/reset/
 */

.css-reset() {
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	// HTML5 display-role reset for older browsers
	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
}

/**
 * Transition.
 *
 * @param {list} ... - Array of options
 */

.transition(...) {
	transition: @arguments;
}

/**
 * Rounded corners.
 *
 * @param {list} ... - Array of options
 */

.border-radius(...) {
	border-radius: @arguments;
}

/**
 * Drop shadow.
 *
 * @param {value} x     - Shadow X offset
 * @param {value} y     - Shadow Y offset
 * @param {value} blur  - Shadow blur
 * @param {hex}   color - Shadow color
 */

.box-shadow(...) {
	box-shadow: @arguments;
}

/*.box-shadow(@x: 0; @y: 0; @blur: 1px; @color: black) {
	box-shadow: @arguments;
}*/

/**
 * Resets las child value to zero.
 *
 * @param {property} property - CSS property to reset
 */

.last-child(@property: margin; @value: 0) {
	&:last-child {
		@{property}: @value !important;
	}
}

/**
 * Align elements vertically using absolute position and translation.
 *
 * @param {value} position - Position to use
 * @param {value} offset   - Offset (translation) to set centered or specific offset from center
 */

.vertical-align(@position: absolute; @offset: 50%) {
	position: @position;
	top: @offset;
	transform: translateY(-50%);
}

/**
 * Align elements horizontally using absolute position and translation.
 *
 * @param {value} position - Position to use
 * @param {value} offset   - Offset (translation) to set centered or specific offset from center
 */

.horizontal-align(@position: absolute; @offset: 50%) {
	position: @position;
	left: @offset;
	transform: translateX(-50%);
}

/**
 * Centers a block element using automatic margins.
 *
 * @param {value} display - Type of display
 */

.center-block(@display: block) {
	display: @display;
	margin-left: auto;
	margin-right: auto;
}

/**
 * Adds font properties, for font-weight based families.
 *
 * @param {string} font-family - Font name/family, can include substitutions.
 * @param {value}  font-weight - Font weight
 * @param {value}  font-size   - Size (with unit)
 */

.font-face(@font-family: @default-font-face) {
	font-family: @font-family;
	font-weight: @default-font-weight;
	.improved-font-face;
}

.font-face(@font-family; @font-weight) {
	font-family: @font-family;
	font-weight: @font-weight;
	.improved-font-face;
}

.font-face(@font-family; @font-weight; @font-size) {
	font-family: @font-family;
	font-weight: @font-weight;
	font-size: @font-size;
	.improved-font-face;
}

.improved-font-face() {
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/**
 * Chunks text.
 *
 * @param {value} type        - Text overflow value
 * @param {value} white-space - White space type
 */

.truncate-text(@type: ellipsis; @white-space: nowrap) {
	overflow: hidden;
	text-overflow: @type;
	white-space: @white-space;
}

/**
 * Accepts a list of properties and a list of values and mix them as set of property and values for css rules.
 *
 * @param {list}   properties - List of properties
 * @param {list}   values     - List of values
 * @param {number} current    - Curent position in list
 */

.expand-properties(@properties; @values) when (length(@properties) = 1) {
	@{properties}: @values;
}

.expand-properties(@properties; @values; @current: 1) when (length(@properties) > 1) and (@current <= length(@properties)) {
	@property: extract(@properties, @current);
	.value() when (length(@values) = 1) {
		@value: @values;
	}
	.value() when (length(@values) > 1) {
		@value: extract(@values, @current);
	}
	.value();
	@{property}: @value;
	.expand-properties(@properties; @values; @current + 1);
}

/**
 * Generates muliple rules for a specific property, increasing each rule by one step (defined as parameter).
 *
 * @param {property} property - Property to generate rules.
 * @param {string}   name     - Prefix for the rule names.
 * @param {value}    current  - current step (or starting step).
 * @param {value}    offset   - Step offset.
 * @param {value}    max      - Max property value.
 */

.get-rule(@name; @value) {
	.rule() when (get-unit(@value) = ms) {
		@size: ~`(function(a){return parseInt(a).toString().replace(/\./g,"");})((function(){var a="@{value}";return a=a.replace(/^\[|\]$/g,"")})())`;
		@rule: e('.@{name}-@{size}ms');
	}
	.rule() when (get-unit(@value) = s) {
		@size: ~`(function(a){return parseInt((parseFloat(a)*1000)).toString().replace(/\./g,"");})((function(){var a="@{value}";return a=a.replace(/^\[|\]$/g,"")})())`;
		@rule: e('.@{name}-@{size}ms');
	}
	.rule() when (default()) {
		.size() when (isnumber(@value)) {
			@size: unit(@value);
		}
		.size() when (default()) {
			@size: @value;
		}
		.size();
		@rule: e('.@{name}-@{size}');
	}
	.rule();
}

.multiply(@property; @name; @current: 0px; @offset: 5px; @max: 50px) when (@current <= @max) and (@offset < 1) {
	.get-rule(@name; @current);
	@{rule} {
		.expand-properties(@property, @current);
	}
	.multiply(@property; @name; @current + @offset; @offset; @max);
}

.multiply(@property; @name; @current: 0px; @offset: 5px; @max: 50px) when (@current <= @max) and (@offset >= 1) {
	.get-rule(@name; @current);
	@{rule} {
		.expand-properties(@property, @current);
	}
	.multiply(@property; @name; @current + @offset; @offset; @max);
}

/**
 * Generates muliple rules for a specific property, from values specifies in a list.
 *
 * @param {property} property - Property to generate rules.
 * @param {string}   name     - Prefix for the rule names.
 * @param {list}     list     - List of name an values to assign.
 * @param {number}   current  - Current index of the list.
 */

.define-from-list(@property; @name; @list; @current: 1) when (@current <= length(@list)) {
	@item: extract(@list, @current);
	@definition: extract(@item, 1);
	@value: extract(@item, 2);
	//@rule: e('.@{name}-@{definition}');
	.get-rule(@name; @definition);
	@{rule} {
			@{property}: @value;
	}
	.define-from-list(@property; @name; @list; @current + 1);
}

/**
 * Defines placeholder styles for form fields.
 * to-do: extraer los selectores en caso de que sea una lista múltiple (igual que row-equal-height)
 *
 * @param {ruleset}  rules    - Set of rules to apply to the placeholder style.
 * @param {string}   selector - Css selector to apply the rules.
 */

.placeholder(@rules; @selector: input) {
	@{selector}::-webkit-input-placeholder {
		@rules();
	}
	@{selector}::-moz-placeholder { // firefox 19+
		@rules();
	}
	@{selector}:-ms-input-placeholder { // ie
		@rules();
	}
	@{selector}:-moz-placeholder {
		@rules();
	}
}

/**
 * Equals rows heights.
 *
 * @param {value}  directrion - Direction for the height equality.
 * @param {value}  align      - Horizontal alignment for the rows.
 * @param {value}  justify    - Vertical alignment for the rows.
 * @param {string} selector   - Selector to apply.
 */

.row-equal-height(@direction: row; @align: center; @justify: flex-start; @selector: ~'> [class^="col-"]', ~'> [class*=" col-"]') {
	display: flex;
	flex-direction: @direction;
	.child-selectors(@selector; @current: 1) when (length(@selector) > 1) and (@current <= length(@selector)) {
		@child: extract(@selector, @current);
		@{child} {
			display: flex;
			align-items: @align;
			justify-content: @justify;
		}
		.child-selectors(@selector; @current + 1);
	}
	.child-selectors(@selector) when (default()) {
		@{selector} {
			display: flex;
			align-items: @align;
			justify-content: @justify;
		}
	}
	.child-selectors(@selector);
}

/**
 * Resets equals rows heights.
 *
 * @param {string} selector   - Selector to apply.
 */

.row-equal-height-reset(@selector: ~'> [class^="col-"]', ~'> [class*=" col-"]';) {
	display: block;
	width: 100%;
	flex-direction: row;
	.child-selectors(@selector; @current: 1) when (length(@selector) > 1) and (@current <= length(@selector)) {
		@child: extract(@selector, @current);
		@{child} {
			display: block;
			align-items: stretch;
			justify-content: flex-start;
		}
		.child-selectors(@selector; @current + 1);
	}
	.child-selectors(@selector) when (default()) {
		@{selector} {
			display: flex;
			align-items: stretch;
			justify-content: flex-start;
		}
	}
	.child-selectors(@selector);
}

/**
 * Css and SVG gradients.
 *
 * @param {hex}   start     - Starting color for the gradient.
 * @param {hex}   end       - Ending color fo the gradient.
 * @param {value} direction - Direction for the gradient.
 * @param {hex}   fallback  - Fallback color for old browsers.
 */

.gradient(@start; @end; @direction: right; @fallback: @start) when (@direction = ~'ellipse at center') or (@direction = ellipse) {
	background: @fallback;
	background-image: svg-gradient(@direction, @start 0%, @end 100%); // IE9 SVG, needs conditional override of 'filter' to 'none'
	background: radial-gradient(@direction, @start 0%, @end 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@{start}', endColorstr='@{end}',GradientType=1); // IE6-8 fallback for horizontal gradient
	background-size: 100% 100%; // SVG needs to fit all width/height
}

.gradient(@start; @end; @direction: right; @fallback: @start) when (default()) {
	background: @fallback;
	background-image: svg-gradient(to @direction, @start 0%, @end 100%); // IE9 SVG, needs conditional override of 'filter' to 'none'
	background: linear-gradient(to @direction, @start 0%, @end 100%);
	@ietype: ~`(function(a){return /left|right/.test(a)?1:0;})((function(){var a="@{direction}";return a=a.replace(/^\[|\]$/g,"")})())`;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@{start}', endColorstr='@{end}',GradientType=@ietype);
}