@charset "UTF-8";

// Variables
@import "variables";

// Mixins
@import "mixins";

// reset
.css-reset();

// Margins
.multiply(margin; m; 0; @margin-offset; @margin-max-value);
.multiply(margin-top; mt; 0; @margin-offset; @margin-max-value);
.multiply(margin-right; mr; 0; @margin-offset; @margin-max-value);
.multiply(margin-bottom; mb; 0; @margin-offset; @margin-max-value);
.multiply(margin-left; ml; 0; @margin-offset; @margin-max-value);
.multiply(margin-top, margin-bottom; mv; 0; @margin-offset; @margin-max-value);
.multiply(margin-left, margin-right; mh; 0; @margin-offset; @margin-max-value);

// Paddings
.multiply(padding; p; 0; @margin-offset; @padding-max-value);
.multiply(padding-top; pt; 0; @padding-offset; @padding-max-value);
.multiply(padding-right; pr; 0; @padding-offset; @padding-max-value);
.multiply(padding-bottom; pb; 0; @padding-offset; @padding-max-value);
.multiply(padding-left; pl; 0; @padding-offset; @padding-max-value);
.multiply(padding-top, padding-bottom; pv; 0; @padding-offset; @padding-max-value);
.multiply(padding-left, padding-right; ph; 0; @padding-offset; @padding-max-value);

/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-xs-max) {

	// Margins
	.multiply(margin; m-xs; 0; @margin-offset-xs; @margin-max-value-xs);
	.multiply(margin-top; mt-xs; 0; @margin-offset-xs; @margin-max-value-xs);
	.multiply(margin-right; mr-xs; 0; @margin-offset-xs; @margin-max-value-xs);
	.multiply(margin-bottom; mb-xs; 0; @margin-offset-xs; @margin-max-value-xs);
	.multiply(margin-left; ml-xs; 0; @margin-offset-xs; @margin-max-value-xs);
	.multiply(margin-top, margin-bottom; mv-xs; 0; @margin-offset-xs; @margin-max-value-xs);
	.multiply(margin-left, margin-right; mh-xs; 0; @margin-offset-xs; @margin-max-value-xs);
	
	// Paddings
	.multiply(padding; p-xs; 0; @padding-offset-xs; @padding-max-value-xs);
	.multiply(padding-top; pt-xs; 0; @padding-offset-xs; @padding-max-value-xs);
	.multiply(padding-right; pr-xs; 0; @padding-offset-xs; @padding-max-value-xs);
	.multiply(padding-bottom; pb-xs; 0; @padding-offset-xs; @padding-max-value-xs);
	.multiply(padding-left; pl-xs; 0; @padding-offset-xs; @padding-max-value-xs);
	.multiply(padding-top, padding-bottom; pv-xs; 0; @padding-offset-xs; @padding-max-value-xs);
	.multiply(padding-left, padding-right; ph-xs; 0; @padding-offset-xs; @padding-max-value-xs);

}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

	// Margins
	.multiply(margin; m-sm; 0; @margin-offset-sm; @margin-max-value-sm);
	.multiply(margin-top; mt-sm; 0; @margin-offset-sm; @margin-max-value-sm);
	.multiply(margin-right; mr-sm; 0; @margin-offset-sm; @margin-max-value-sm);
	.multiply(margin-bottom; mb-sm; 0; @margin-offset-sm; @margin-max-value-sm);
	.multiply(margin-left; ml-sm; 0; @margin-offset-sm; @margin-max-value-sm);
	.multiply(margin-top, margin-bottom; mv-sm; 0; @margin-offset-sm; @margin-max-value-sm);
	.multiply(margin-left, margin-right; mh-sm; 0; @margin-offset-sm; @margin-max-value-sm);

	// Paddings
	.multiply(padding; p-sm; 0; @padding-offset-sm; @padding-max-value-sm);
	.multiply(padding-top; pt-sm; 0; @padding-offset-sm; @padding-max-value-sm);
	.multiply(padding-right; pr-sm; 0; @padding-offset-sm; @padding-max-value-sm);
	.multiply(padding-bottom; pb-sm; 0; @padding-offset-sm; @padding-max-value-sm);
	.multiply(padding-left; pl-sm; 0; @padding-offset-sm; @padding-max-value-sm);
	.multiply(padding-top, padding-bottom; pv-sm; 0; @padding-offset-sm; @padding-max-value-sm);
	.multiply(padding-left, padding-right; ph-sm; 0; @padding-offset-sm; @padding-max-value-sm);

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

	// Margins
	.multiply(margin; m-md; 0; @margin-offset-md; @margin-max-value-md);
	.multiply(margin-top; mt-md; 0; @margin-offset-md; @margin-max-value-md);
	.multiply(margin-right; mr-md; 0; @margin-offset-md; @margin-max-value-md);
	.multiply(margin-bottom; mb-md; 0; @margin-offset-md; @margin-max-value-md);
	.multiply(margin-left; ml-md; 0; @margin-offset-md; @margin-max-value-md);
	.multiply(margin-top, margin-bottom; mv-md; 0; @margin-offset-md; @margin-max-value-md);
	.multiply(margin-left, margin-right; mh-md; 0; @margin-offset-md; @margin-max-value-md);

	// Paddings
	.multiply(padding; p-md; 0; @padding-offset-md; @padding-max-value-md);
	.multiply(padding-top; pt-md; 0; @padding-offset-md; @padding-max-value-md);
	.multiply(padding-right; pr-md; 0; @padding-offset-md; @padding-max-value-md);
	.multiply(padding-bottom; pb-md; 0; @padding-offset-md; @padding-max-value-md);
	.multiply(padding-left; pl-md; 0; @padding-offset-md; @padding-max-value-md);
	.multiply(padding-top, padding-bottom; pv-md; 0; @padding-offset-md; @padding-max-value-md);
	.multiply(padding-left, padding-right; ph-md; 0; @padding-offset-md; @padding-max-value-md);

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

	// Margins
	.multiply(margin; m-lg; 0; @margin-offset-lg; @margin-max-value-lg);
	.multiply(margin-top; mt-lg; 0; @margin-offset-lg; @margin-max-value-lg);
	.multiply(margin-right; mr-lg; 0; @margin-offset-lg; @margin-max-value-lg);
	.multiply(margin-bottom; mb-lg; 0; @margin-offset-lg; @margin-max-value-lg);
	.multiply(margin-left; ml-lg; 0; @margin-offset-lg; @margin-max-value-lg);
	.multiply(margin-top, margin-bottom; mv-lg; 0; @margin-offset-lg; @margin-max-value-lg);
	.multiply(margin-left, margin-right; mh-lg; 0; @margin-offset-lg; @margin-max-value-lg);

	// Paddings
	.multiply(padding; p-lg; 0; @padding-offset-lg; @padding-max-value-lg);
	.multiply(padding-top; pt-lg; 0; @padding-offset-lg; @padding-max-value-lg);
	.multiply(padding-right; pr-lg; 0; @padding-offset-lg; @padding-max-value-lg);
	.multiply(padding-bottom; pb-lg; 0; @padding-offset-lg; @padding-max-value-lg);
	.multiply(padding-left; pl-lg; 0; @padding-offset-lg; @padding-max-value-lg);
	.multiply(padding-top, padding-bottom; pv-lg; 0; @padding-offset-lg; @padding-max-value-lg);
	.multiply(padding-left, padding-right; ph-lg; 0; @padding-offset-lg; @padding-max-value-lg);

}