// Encoding
@charset "UTF-8";

// Bootstrap breakpoints
@screen-xs-max : 767px;
@screen-sm-min : 768px;
@screen-md-min : 992px;
@screen-lg-min : 1200px;

// Default font face and weight
@default-font-face   : "Roboto", sans-serif;
@default-font-weight : 400;

// Margins
@margin-offset       : 5px;
@margin-max-value    : 50px;
@margin-offset-xs    : 5px;
@margin-max-value-xs : 50px;
@margin-offset-sm    : 5px;
@margin-max-value-sm : 50px;
@margin-offset-md    : 5px;
@margin-max-value-md : 50px;
@margin-offset-lg    : 5px;
@margin-max-value-lg : 50px;

// Paddings
@padding-offset       : 5px;
@padding-max-value    : 50px;
@padding-offset-xs    : 5px;
@padding-max-value-xs : 50px;
@padding-offset-sm    : 5px;
@padding-max-value-sm : 50px;
@padding-offset-md    : 5px;
@padding-max-value-md : 50px;
@padding-offset-lg    : 5px;
@padding-max-value-lg : 50px;

// Animation
@animation-duration : 0.25s;

// Animations delays
@animation-delay-start     : 0.25s;
@animation-delay-offset    : 0.25s;
@animation-delay-max-value : 2.5s;